<div class="container">
  <header>
    <h1>Buscador de Repositórios GitHub</h1>
  </header>

  <main>
    <section class="search-container">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Buscar repositório</mat-label>
        <input matInput 
               placeholder="Ex: angular" 
               [(ngModel)]="searchTerm" 
               (keyup.enter)="treatSearch()">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="treatSearch()" [disabled]="!searchTerm.trim()">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </section>

    <div class="spinner-container" *ngIf="isLoading">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="error-message" *ngIf="errorMessage && !isLoading">
      <p>{{ errorMessage }}</p>
    </div>
    
    <section class="results-container" *ngIf="!isLoading && !errorMessage">
      <p class="message" *ngIf="repositories.length === 0">
        Nenhum repositório para exibir. Tente fazer uma busca!
      </p>

      <mat-card *ngFor="let repo of repositories" class="repo-card">
        <mat-card-header>
          <mat-card-title>
            <a [href]="repo.html_url" target="_blank">{{ repo.full_name }}</a>
          </mat-card-title>
          <mat-card-subtitle class="repo-meta">
            <span>
              <mat-icon>star_rate</mat-icon>
              {{ repo.stargazers_count }}
            </span>
            <span>
              <mat-icon>visibility</mat-icon>
              {{ repo.watchers_count }}
            </span>
             <span>
              <mat-icon>error_outline</mat-icon>
              {{ repo.open_issues_count }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ repo.description }}</p>
        </mat-card-content>
      </mat-card>
    </section>

    <section class="pagination-container" *ngIf="repositories.length > 0 && !isLoading">
      <button mat-stroked-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button mat-stroked-button (click)="nextPage()" [disabled]="currentPage * 30 >= totalCount">Próxima</button>
    </section>
  </main>
</div>